body {
  background-color: #ffff99;
  font-family: Helvetica, sans-serif;
 }
  
 .titulo1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #ff6600;
  color: #ff6600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
  
  
 .titulo2 {
   padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffcc00;
  color: #ffff99;
  font-family: 'Courier New', Courier, monospace;
 }
 h2 {
  padding-top: 30px;
 padding-bottom: 15px;
 padding-left: 10px;
 padding-right: 10px;
 background-color: #ff6600;
 color: #ffff99;
 font-family: 'Courier New', Courier, monospace;
}
 
 h3 {
   padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff6600;
  color: #ffff99;
  font-family: 'Courier New', Courier, monospace;
 }

 section p:hover{
  background-color: #ffcc00;
 }

 #frenchFries{
   color: black;
 }

 section a:active{
   background-color: aqua;
 }
  
 ol,ul {
   padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  padding-right: 15px;
  background-color: #ffcc00;
 }
  
 li {
   font-weight: bold; 
   color: #ffff99;
 }
  
 p {
   padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
   border-width: 3px;
  border-style: dotted;
  border-color: #ffcc00;
 }
  
 
 /*
 Here are the color HEX code used above:
 
 light yellow: #ffff99
 medium yellow: #ffcc00
 orange: #ff6600
 Here are the fonts used above:
 
 Helvetica
 Impact
 Courier New
 */